{% extends 'project/base.html' %}
{% block contents %}

<a href="{% url 'project:index' %}">
	<i class="fas fa-angle-left fa-3x mt-3"></i>
</a>


<div class="shadow-sm py-3 px-5 mb-5 bg-white rounded mn">
	<h1 >{{ post.title }}</h1>
	<div class="flex">

		<div class="center">

			<div class="" >{{ user.username }}</div>
			<div class="">
				<img src="{{ post.photo.url }}" alt="[Image]" class="post-image" align="center">
			</div>
			<a href="{% url 'project:like' post.id %}">
			 <button class="reaction_button" type="button" name="button">
				 いいね
			 </button>
			</a>
			<span>
				{{ post.like_num }}
			</span>
		</div>

		<div class="right" style="width: 100%;">
			<div class="fa-1_2x sp-sm-space" >
				{{ post.text }}
			</div>
			{% include 'project/comment.html' %}
		</div>

	</div>




</div>

<br><br>


{% endblock contents %}
