{% extends 'project/base.html' %}
{% block styles %}
<style media="screen">
	.center-scroll {
		height: calc(100vh - 160px);
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
</style>
{% endblock styles %}

{% block contents %}

{% if latest_post_list %}
<div class="pt-5">
	<div class="row">
		<div class="col-md-8 col-sm-12 center-scroll">
			{% for post in latest_post_list %}
			<div class="mb-2">
				{% include 'project/post.html' %}
			</div>
			{% endfor %}
		</div>

		<div class="col-md-4 col-sm-12">
			{% include 'project/index/calendar.html' %}
		</div>
	</div>
</div>
{% else %}
    <p>No posts are available.</p>
{% endif %}

<div class="mt-4">
	<a href="{% url 'project:create' %}" class="red mt-4">新規投稿</a>
</div>
{% endblock contents %}
