.navi-top {
	border-bottom: solid 1px rgba(0,0,0,.0975);
	top: 0;
	width: 100vw;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
}
.footer-top {
	font-size: 12px;
}

h1 {
	width: 400px !important;
}

.scroll_comment {
 height: 150px;
 overflow: auto;
}
.post-image {
	width : 400px;
	height: 400px;
	object-fit: contain;
}

.reaction_button {
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px
}
.shadow.mn {
	box-shadow: 0 .3rem 1rem
	   rgba(0, 0, 0, 0.5)!important;
}

.mb-2, .my-2 {
	border: double 5px blue !important;
}

.mb-5,.mn {
	margin-bottom: 1rem !important;
	margin-top: 1rem !important;
}

.left {
	width: 25%;
}

.center {
	/* width: 75%; */
}

.right {
	width: 25%;
}
