/* font-family */
body {
	font-family: HiraginoSans, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	color: #0a1227;
}
@media(max-width: 980px) {
	body {
		font-size: 10px;
	}
}

/* backgrounds */
.background-grey {
	background-color: #fafafa;
}

/* fonts */
.red {
	color: red;
}
.orange {
	color: orange;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.normal-height {
	line-height: 1;
}
.xs-height {
	line-height: 1.2;
}
.sm-height {
	line-height: 1.5;
}
.md-height {
	line-height: 1.8;
}
.lg-height {
	line-height: 2;
}
.fa-0_7x {
	font-size: 0.7em;
}
.fa-0_8x {
	font-size: 0.8em;
}
.fa-0_9x {
	font-size: 0.9em;
}
.fa-1_4x {
	font-size: 1.4em;
}
.fa-1_5x {
	font-size: 1.5em;
}
.sp-lg-space {
	letter-spacing: 1.2px;
}
.sp-md-space {
	letter-spacing: 0.8px;
}
.sp-sm-space {
	letter-spacing: 0.5px;
}
.sp-xs-space {
	letter-spacing: 0.2px;
}
@media(min-width: 981px) {
	.pc-sm-space {

	}
}



/* paddings */
.center-padding {
	padding-left: calc(50vw - 552px);
	padding-right: calc(50vw - 552px);
}
@media(max-width: 1280px) {
	.center-padding {
		padding-left: 100px;
		padding-right: 100px;
	}
}
@media(max-width: 768px) {
	.center-padding {
		padding-left: 24px;
		padding-right: 24px;
	}
}

/* positions */
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.relative {
	position: relative;
}
.sticky {
	position: sticky;
	position: -webkit-sticky;
}

/* flex */
.flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.justify-space-between {
	justify-content: space-between;
}
.justify-space-around {
	justify-content: space-around;
}

/* links */
a, a:hover, a:focus {
	color: #0a1227;
	text-decoration: initial;
}
button {
	cursor: pointer;
}
.pointer {
	cursor: pointer;
}
