{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/fullCalendar/core/main.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'project/css/fullCalendar/daygrid/main.min.css' %}">
<style media="screen">
	.fc-scroller.fc-day-grid-container {
		height: calc(100vh - 383px) !important;
		max-height: max-content;
	}
</style>

<div id="calendar"></div>

<script src="{% static 'project/js/fullcalendar/core/main.min.js' %}"></script>
<script src="{% static 'project/js/fullcalendar/daygrid/main.min.js' %}"></script>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');

		var calendar = new FullCalendar.Calendar(calendarEl, {
			plugins: [ 'dayGrid' ]
		});

		calendar.render();
	});
</script>
